.home-container {
  text-align: center;
  padding: 40px 20px;
}

.home-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.home-subtitle {
  font-size: 1.2rem;
  color: #444;
  margin-bottom: 20px;
}

.home-button {
  background-color: #0d6efd;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  border-radius: 6px;
}

.home-button:hover {
  background-color: #0b5ed7;
}
